*{font-family: 'Open Sans', sans-serif;margin: 0;padding: 0; box-sizing: border-box;}

.fizzBuzz{padding:25px; max-width:1200px; margin:0 auto;}
.fizzBuzz ul{padding-left: 25px;}
.fizzBuzz li{padding-bottom: 5px;}