*{padding: 0;margin: 0;}
body{background-color:##F2F2F2; padding: 25px; font-family: 'Playfair Display', serif;}

/* row */
.row{display: flex; gap:10px; margin-bottom: 10px; justify-content: center;align-items: center; }
.col{width: 25%; background-color: #400101; border-radius:10px; padding:25px; color:#D96704; }

.row:nth-child(2) .col{width: 33.33%;}
.col-2{flex-basis: 66.66%; background-color: #400101; color:#D96704; border-radius:10px; padding:25px; flex}

.row:nth-child(3) .col{width:40%;}
.col-3{width: 60%; background-color: #400101; color:#D96704; border-radius:10px; padding:25px; }


